//CTA 
.block-content--type-cta-block {
  .info-wrapper {
    .field--name-block-description,
    .field--name-body,
    .field--name-field-link {
      margin-right: 0px;
      margin-left: 20px;
    }
  }
}

//Slider
.node--type-slider {
  &.node--view-mode-front-slider {
    .description-wrapper {
      direction: rtl;
    }
  }
}

// Orphan
.node--type-application,
.node--type-student-application,
.node--type-family-application {
  &.node--view-mode-full {
    .wrapper {
      .field {
        margin-right: 2%;
        float: right;
        .field--label {
          &::after {
            left: 0;
            right: auto;
          }
        }
        .field--item {
          width: 50%;
          padding: 0 5px 0 0;
        }
      }
      .field:nth-child(2n) {
        margin-right: 0;
      }
    }
    .field--name-field-files {
      .field--items {
        .field--item {
          .file-link {
            padding-right: 15px;
            padding-left: 0;
            &::before {
              left: auto;
              right: 0;
            }
          }
        }
      }
    }
  }
} //Announcement
.node--type-announcement {
  &.node--view-mode-teaser {
    .field--name-node-title {
      padding: 15px 50px 10px 40px;
    }
  }
}

.view-display-id-all_orphans,
.view-display-id-orphans_list,
.view-display-id-orphan_contributor {
  .view-content {
    .views-row {
      .views-field-edit-node {
        right: auto;
        left: 10px;
        a {
          padding: 5px;
          &::after {
            padding-left: 0;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

.view-display-id-all_orphans {
  .table-striped {
    .btn-group.dropdown {
      button:first-child {
        span {
          margin-right: -.25em;
          margin-left: .25em;
        }
      }
    }
  }
}

.node--type-recurring-report,
.node--type-announcement {
  &.node--view-mode-teaser {
    margin-bottom: 10px;
    .title_wrapper,
    .field--name-node-title {
      &::before {
        right: 15px;
        left: auto;
        display: inline;
        transform: rotatey(180deg);
      }
      &::after {
        left: 15px;
        right: auto;
      }
    }
  }
}

//recurring-report
.node--type-recurring-report {
  &.node--view-mode-teaser {
    .title_wrapper {
      padding: 15px 50px 10px 40px;
      .field--name-field-date {
        float: left;
      }
      .field--name-node-title {
        float: right;
      }
    }
    .body_wrapper {
      >.field--name-field-image {
        float: right;
      }
      .field--name-body {
        float: left;
      }
    }
  }
}

#block-usermenu,
.block-language {
  float: left;
  a {
    font-size: 16px;
    &::after {
      left: 0;
      right: auto !important;
    }
  }
}

.user-logged-in {
  #block-usermenu {
    float: left;
    .menu--user-menu {
      li {
        &:last-child {
          a {
            padding-left: 0px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}