body {
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
}

.navbar-btn {
  margin: 0;
}

a {
  color: #333;
  &:hover,
  &:focus {
    text-decoration: none !important;
    color: $orange;
  }
}

//Programs
.view-programs {
  &.view-display-id-front_programs {
    .views-row {
      &:first-child {
        .node--type-programs .field--name-node-title {
          background: $green;
        }
      }
      &:nth-child(3) {
        .node--type-programs .field--name-node-title {
          background: $pink;
        }
      }
    }
  }
}

// Pager.
.pagination {
  li {
    >a,
    >span {
      color: $blue;
      &:hover,
      &:focus {
        color: $blue;
      }
    }
    &:first-child,
    &:last-child {
      >a,
      >span {
        border-radius: 0px;
      }
    }
    &.active {
      span,
      a {
        background-color: $blue;
        border-color: $blue;
        &:hover,
        &:focus {
          background-color: $blue;
          border-color: $blue;
        }
      }
    }
  }
}