.menu--social-footer {
  li {
    display: inline-block;
  }
}

header.navbar-default {
  .navbar-collapse {
    float: left;
    .navbar-nav {
      float: left;
      .donate-now {
        margin-left: 0px;
        margin-right: 10px;
      }
    }
  }
}

footer {
  .block-views-blockprojects-footer-projects {
    .block-title {
      text-align: right;
    }
    .view-content {
      padding-left: 0px;
      padding-right: 10px;
    }
  }
  .menu--footer {
    .dropdown-menu {
      padding-left: 0px;
      padding-right: 10px;
    }
  }
  .row {
      .region-footer-middle {
      padding-left: 0px;
      padding-right: 70px;
      }
  }
}
